[Unit]
Description=Set VR-optimised profiles.
Conflicts=setprof-3d.service
Conflicts=setprof-compute.service
Conflicts=setprof-idle.service

[Service]
ExecStart=/usr/bin/setprof vr

[Install]
WantedBy=multi-user.target
