[Unit]
Description=Set power-saving profiles.
Conflicts=setprof-3d.service
Conflicts=setprof-compute.service
Conflicts=setprof-vr.service

[Service]
ExecStart=/usr/bin/setprof idle

[Install]
WantedBy=multi-user.target
